<div id="sidebar" class="sidebar">
  <section class="content-nav">
    <ul>
      <li><h2><a href="{% link getting-started.md %}">Getting Started</a></h2></li>
      <li><a href="{% link _docs/learn.md %}">Guide</a>
        <ul>
          <li><a href="{% link _docs/learn/install.md %}">Install Lono</a></li>
          <li><a href="{% link _docs/learn/configure.md %}">Configure AWS</a></li>
          <li><a href="{% link _docs/learn/new-project.md %}">Create New Project</a></li>
          <li><a href="{% link _docs/learn/review-project.md %}">Review the Project</a></li>
          <li><a href="{% link _docs/learn/build.md %}">Build the Template</a></li>
          <li><a href="{% link _docs/learn/deploy.md %}">Deploy Infrastructure</a></li>
          <li><a href="{% link _docs/learn/change.md %}">Change Infrastructure</a></li>
          <li><a href="{% link _docs/learn/update.md %}">Update Infrastructure</a></li>
          <li><a href="{% link _docs/learn/destroy.md %}">Destroy Infrastructure</a></li>
          <li><a href="{% link _docs/learn/next-steps.md %}">Next Steps</a></li>
        </ul>
      </li>
      <!--
      <li><a href="{% link _docs/vs.md %}">Lono vs Others</a>
        <ul>
          {% assign docs = site.docs | where: "categories","vs" | sort: "order" %}
          {% for doc in docs -%}
          <li><a href="{{ doc.url }}">{{ doc.nav_text }}</a></li>
          {% endfor %}
        </ul>
      </li>
      -->
    </ul>
    <ul>
      <li><h2><a href="{% link docs.md %}">Docs</a></h2></li>
      <li><a href="{% link _docs/intro.md %}">Intro</a>
        <ul>
        {% assign docs = site.docs | where: "categories","intro" | sort:"order" %}
        {% for doc in docs -%}
          <li><a href="{{ doc.url }}">{{ doc.nav_text }}</a></li>
        {% endfor %}
        </ul>
      </li>
      <li><a href="{% link _docs/install.md %}">Install</a>
        <ul>
          <li><a href="{% link _docs/install/gem.md %}">Gem</a>
            <ul>
              {% assign docs = site.docs | where: "categories","gem" | sort:"order" %}
              {% for doc in docs -%}
              <li><a href="{{ doc.url }}">{{ doc.nav_text }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li><a href="{% link _docs/install/ruby.md %}">Ruby</a>
          <li><a href="{% link _docs/install/shim.md %}">Shim</a></li>
          <li><a href="{% link _docs/install/updating.md %}">Updating</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/blueprints.md %}">Blueprints</a>
        <ul>
          {% assign docs = site.docs | where: "categories","blueprint" | sort:"order" %}
          {% for doc in docs -%}
          <li><a href="{{ doc.url }}">{{ doc.nav_text }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="{% link _docs/config.md %}">Config</a>
          <ul>
            {% assign docs = site.docs | where: "categories","config" | sort: "order" %}
            {% for doc in docs -%}
              {% if doc.url == "/docs/config/seed/" %}
              <li><a href="{% link _docs/config/seed.md %}">Seed</a>
                <ul>
                  <li><a href="{% link _docs/config/seed/authoring.md %}">Authoring</a>
                </ul>
              </li>
              {% else %}
              <li><a href='{{doc.url}}'>{{doc.nav_text}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
      </li>
      <li><a href="{% link _docs/generators.md %}">Generators</a>
          <ul>
            {% assign docs = site.docs | where: "categories","generators" | sort: "order" %}
            {% for doc in docs -%}
              <li><a href='{{doc.url}}'>{{doc.nav_text}}</a></li>
            {% endfor %}
          </ul>
      </li>
      <li><a href="{% link _docs/layering.md %}">Layering</a>
          <ul>
            {% assign docs = site.docs | where: "categories","layering" | sort: "order" %}
            {% for doc in docs -%}
              <li><a href='{{doc.url}}'>{{doc.nav_text}}</a></li>
            {% endfor %}
          </ul>
      </li>
      <li><a href="{% link _docs/dsl.md %}">DSL</a>
        <ul>
          <li><a href="{% link _docs/dsl/basics.md %}">Basics</a>
            <ul>
            {% assign cs_dsl_docs = site.docs | where: "categories","dsl-basics" | sort: "order" %}
            {% for cs_dsl_doc in cs_dsl_docs -%}
              <li><a href='{{cs_dsl_doc.url}}'>{{cs_dsl_doc.nav_text}}</a></li>
            {% endfor %}
            </ul>
          </li>
          <li><a href="{% link _docs/dsl/advanced.md %}">Advanced</a>
            <ul>
            {% assign docs = site.docs | where: "categories","dsl-advanced" | sort: "order" %}
            {% for doc in docs -%}
              <li><a href='{{doc.url}}'>{{doc.title}}</a></li>
            {% endfor %}
            </ul>
          </li>
          <li><a href="{% link _docs/dsl/intrinsic-functions.md %}">Intrinsic Functions</a>
              <ul>
                {% assign docs = site.docs | where: "categories","intrinsic-function" | sort: "order" %}
                {% for doc in docs -%}
                  <li><a href='{{doc.url}}'>{{doc.title}}</a></li>
                {% endfor %}
              </ul>
          </li>
        </ul>
      </li>
      <li><a href="{% link _docs/helpers.md %}">Helpers</a>
          <ul>
            {% assign docs = site.docs | where: "categories","helpers" | sort: "order" %}
            {% for doc in docs -%}
              {% if doc.url == "/docs/helpers/builtin/" %}
              <li><a href="{% link _docs/helpers/builtin.md %}">Built-In</a>
                <ul>
                {% assign builtin = site.docs | where: "categories","builtin-helpers" | sort: "order" %}
                {% for doc in builtin -%}
                  <li><a href='{{doc.url}}'>{{doc.nav_text}}</a></li>
                {% endfor %}
                </ul>
              </li>
              {% else %}
              <li><a href='{{doc.url}}'>{{doc.nav_text}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
      </li>
      <li><a href="{% link _docs/lonofile.md %}">Lonofile</a>
        <ul>
          <li><a href="{% link _docs/lonofile/usage.md %}">Usage</a></li>
          <li><a href="{% link _docs/lonofile/options.md %}">Options</a></li>
          <li><a href="{% link _docs/lonofile/sources.md %}">Sources</a>
            <ul>
              {% assign docs = site.docs | where: "categories","sources" | sort:"order" %}
              {% for doc in docs -%}
              <li><a href="{{ doc.url }}">{{ doc.nav_text }}</a></li>
              {% endfor %}
            </ul>
          <li><a href="{% link _docs/lonofile/version-locking.md %}">Version Locking</a></li>
          <li><a href="{% link _docs/lonofile/terraform-notation.md %}">Terraform Notation</a></li>
          <li><a href="{% link _docs/lonofile/env-vars.md %}">Env Vars</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/configsets.md %}">Configsets</a>
          <ul>
            {% assign docs = site.docs | where: "categories","configsets" | sort: "order" %}
            {% for doc in docs -%}
              {% if doc.url == "/docs/configsets/using/" %}
              <li><a href='{{doc.url}}'>{{doc.nav_text}}</a>
                  <ul>
                      <li><a href='{% link _docs/configsets/using/project.md %}'>Project</a></li>
                      <li><a href='{% link _docs/configsets/using/blueprint.md %}'>Blueprint</a></li>
                  </ul>
              </li>
              {% elsif doc.url == "/docs/configsets/dsl/" %}
              <li><a href='{{doc.url}}'>{{doc.nav_text}}</a>
                <ul>
                  {% assign cs_dsl_docs = site.docs | where: "categories","configsets-dsl" | sort: "order" %}
                  {% for cs_doc in cs_dsl_docs -%}
                  <li><a href="{{ cs_doc.url }}">{{ cs_doc.nav_text }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% elsif doc.url == "/docs/configsets/helpers/" %}
              <li><a href='{{doc.url}}'>{{doc.nav_text}}</a>
                  <ul>
                  {% assign cs_docs = site.docs | where: "categories","configsets-helpers" | sort: "order" %}
                  {% for cs_doc in cs_docs -%}
                    {% if cs_doc.url == "/docs/configsets/helpers/builtin/" %}
                    <li><a href="{{ cs_doc.url }}">{{ cs_doc.nav_text }}</a>
                    <ul>
                      {% assign builtin_docs = site.docs | where: "categories","configsets-helpers-builtin" | sort: "order" %}
                      {% for builtin in builtin_docs -%}
                        <li><a href="{{ builtin.url }}">{{ builtin.nav_text }}</a></li>
                      {% endfor %}
                      </ul>
                    </li>
                    {% else %}
                    <li><a href="{{ cs_doc.url }}">{{ cs_doc.nav_text }}</a></li>
                    {% endif %}
                  {% endfor %}
                  </ul>
              </li>
              {% elsif doc.url == "/docs/configsets/layering/" %}
              <li><a href='{{doc.url}}'>{{doc.nav_text}}</a>
                <ul>
                  {% assign cs_layering_docs = site.docs | where: "categories","configsets-layering" | sort: "order" %}
                  {% for cs_doc in cs_layering_docs -%}
                  <li><a href="{{ cs_doc.url }}">{{ cs_doc.nav_text }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% else %}
              <li><a href='{{doc.url}}'>{{doc.nav_text}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
      </li>
      <li>Extras
          <ul>
            {% assign docs = site.docs | where: "categories","extras" | sort: "order" %}
            {% for doc in docs -%}
              <li><a href='{{doc.url}}'>{{doc.nav_text}}</a></li>
            {% endfor %}
          </ul>
      </li>
      <li><a href="{% link articles.md %}">Articles</a></li>
      <li><a href="{% link _docs/lono-help.md %}">Lono Help</a></li>
      <li><a href="{% link _docs/next-steps.md %}">Next Steps</a></li>
      <li><a href="{% link reference.md %}">CLI Reference</a></li>
    </ul>
  </section>
  <div class="menu-options">
    <h2>sidebar options:</h2>
    <ul class="list-unstyled">
      <li><a href="#" id="expand-all">expand all</a></li>
      <li><a href="{{ site.gh_url }}/blob/master/" id="edit-page" target="_blank">edit page</a></li>
    </ul>
  </div>
</div>
